.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #2e2e2ea9;
  width: fit-content;
  padding: 2em 4em;
  margin: 3em auto;
  column-gap: 2em;
}

footer {
  background-color: black;
  text-align: left;
  padding: 1em 2em;
}

footer .other-hyperlinks {
  display: flex;
  flex-direction: column;
}

footer .other-hyperlinks > * {
  margin-left: 0;
  width: fit-content;
  text-align: left;
}
