.search-bar-container, .search-bar-container input[type="text"] {
  border-radius: 25px;
}

.search-bar-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
}

.search-bar-container input[type="text"] {
  width: 100%;
  padding: 1em 2em;
}

.search-results-list {
  z-index: 1;
  width: 100%;
  padding: 0 0 1em;
  border: 1px solid transparent;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgb(49, 49, 49);
}

.search-result-item {
  display: flex;
  padding: 0.5em 1em;
}

.search-result-item:hover {
  background-color: rgb(58, 58, 58);
}

.search-result-item .metadata {
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  /* width: 100%; */
}

.search-result-item h4, .search-result-item h6 {
  margin: 0;
  display: block;
}

.search-result-item .cover-image {
  height: 5em;
  text-overflow: clip;
}

.search-result-item .description {
  height: 1.5em;
  overflow-x: hidden;
  width: calc(80%);
  margin: 0 auto;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}