.book-card {
  padding: 0 1em;
  width: fit-content;
  margin: auto 0;
}

.book-info {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.book-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.book-card .book-title {
  margin: 0;
  width: fit-content;
}

.book-card img {
  width: 11em;
}

.book-card img, .book-card .book-title {
  cursor: pointer;
}
