.book-card {
  padding: 1em;
  width: fit-content;
}

.book-info {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.book-card .book-title {
  width: fit-content;
  margin: 0;
}
