.advanced-search {
  width: 90vw;
  display: flex;
  flex-direction: row;
}

.advanced-search .filters {
  height: 80%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  /* top: auto; */
  left: 0;
}

.advanced-search .book-list {
  width: 78vw;
}
