.navbar {
  margin: 0 auto;
  padding: 0;
  width: calc(100vw - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 1em;
}

.search-bar-container {
  width: 50%;
}

.navbar img {
  height: 3em;
}
