.book-cover-image {
  cursor: pointer;
  width: 11em;
  height: auto;
  /* height: 10em; */
}

@media only screen and (max-width: 600px) {
  .book-cover-image {
    /* width: 11em; */
    width: auto;
    height: 20em;
  }
}
