.password-input img#password-input-eye-icon {
  height: 2em;
  width: auto;
  position: relative;
  top: 0.75em;
  right: -0.5em;
}

.password-input input[type="password"]:active {
  outline: none;
}

::-ms-reveal {
  display: none;
}
