/* .add-book-form textarea {
  padding: 1em;
  width: calc(100% - 2em);
  margin-bottom: 1em;
  max-width: calc(100% - 2em);
  min-height: 5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
} */
